html, body {
	height: 100%;
	margin: 0;
}

body {
	font-size: .875rem;
}

/*
 * dropdown-menu
 */
.dropdown-menu {
	padding-left: 0;
	box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
	opacity: 0.8;
}

.nav-link {
	font-weight: 500;
	color: #333;
	padding: 0.3rem 0.7rem;
}

.nav-link.fa {
	margin-right: 4px;
	color: #999;
}

.nav-item:hover .venue-name,
.nav-item:hover .fa {
	color: inherit;
}

.dropdown-title,
.dropdown-title .fa {
	color: #007bff;
}

/*
 * Navbar
 */

.navbar-brand {
	padding: .75rem;
	font-size: 1rem;
	background-color: rgba(0, 0, 0, .25);
	box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
	padding: .75rem 1rem;
	border-width: 0;
	border-radius: 0;
}

.form-control-dark {
	color: #fff;
	background-color: rgba(255, 255, 255, .1);
	border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
	border-color: transparent;
	box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/*
 * Icons
 */

.fa {
	width: 16px;
	height: 16px;
	vertical-align: text-bottom;
}

/*
 * attribution
 */

.attribution {
	z-index: 1000000;
	position: fixed;
	left: 0;
	bottom: 0.5rem;
	opacity: 0.7;
}

.attribution-img {
	width: 12rem;
}

/*
 * Map content
 */
#map {
	height: 100%;
	padding: 20px;
	margin-top: 0;
}

.card {
	width: 13rem;
}