html, body {
    height: 100%;
    margin: 0;
}

body {
  font-size: .875rem;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  opacity: 0.85;
}

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 112px; /* Height of navbar */
  height: calc(100vh - 112px);
  padding-top: .5rem;
  overflow-y: auto; /* make scrollable if contents are longer than the viewport */
}
@media (min-width: 576px) {
  .sidebar-sticky {
	top: 64px;
	height: calc(100vh - 64px);
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .fas {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .fas,
.sidebar .nav-link.active .fas {
  color: blue;
}

/*
 * Navbar
 */

.navbar-brand {
  padding: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/*
 * Icons
 */

.fas {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*.cafeImg {
  background-image: url("paper.gif")
}*/

/*
 * Map content
 */
#map {
    height: 100%;
	padding: 20px;
	margin-top: 0;
}
